<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.burst.text.mapper.TabPosterTemplateMapper">

    <!-- 查询海报分类 -->
    <select id="queryPosterType" resultType="com.burst.text.dto.PosterTypeBean">
        select
            sd.code posterType,
            sd.name posterTypeName
        tab_sys_dictionary sd
        inner join tab_poster_template pt on sd.code = pt.poster_type and pd.is_enable = 1
        where sd.data_type = 'poster_type'
        group by sd.code
        order by sd.seq
    </select>

    <!-- 查询 海报列表数据 -->
    <select id="queryPosterTempList" parameterType="map" resultType="com.burst.text.entity.TabPosterTemplate">
        select
            id,
            min_poster minPoster
        from
        tab_poster_template
        where is_enable = 1
        <if test="posterType">
            and poster_type = #{posterType}
        </if>
    </select>

    <!-- 查询海报详情数据 -->
    <select id="queryPosterInfo" parameterType="map" resultType="map">
        select
            max_poster maxPoster,
            use_scope useScope
        from
        tab_poster_template
        where is_enable = 1
        and id = #{posterId}
    </select>
</mapper>